/* Default Markdown Styles for Tiptap */
.ProseMirror {
  outline: none;
  min-height: 100%;
  
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
    list-style-position: outside;
    margin-left: 1rem;
  }
  
  ul {
    list-style-type: disc;
  }
  
  ol {
    list-style-type: decimal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    font-weight: 600;
  }

  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.25em; }
  
  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
    font-family: 'JetBrains Mono', monospace;
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrains Mono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid var(--primary-color);
    font-style: italic;
  }

  hr {
    border: none;
    border-top: 2px solid var(--border-color);
    margin: 2rem 0;
  }
}
